<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ionicrtmphls" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>IoniCordovaRTMPandHLS</name>

    <js-module name="ionicrtmphls" src="www/IoniCordovaRTMPandHLS.js">
        <clobbers target="cordova.plugin.ionicrtmphls" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/IoniCordovaRTMPandHLS.java" target-dir="src/cordova/plugin/ionicrtmphls/" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IoniCordovaRTMPandHLS">
                <param name="android-package" value="cordova.plugin.ionicrtmphls.IoniCordovaRTMPandHLS" />
            </feature>
        </config-file>

        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-feature android:name="android.hardware.camera" />
        </config-file>

        <framework src="com.github.shogo4405.HaishinKit~kt:haishinkit:0.10.4" />
      <!--  <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />-->

    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="IoniCordovaRTMPandHLS">
                <param name="ios-package" value="IoniCordovaRTMPandHLS" />
            </feature>
        </config-file>
        
        <framework src="HaishinKit" type="podspec" spec="~> 1.5.6" />
        
        <source-file src="src/ios/IoniCordovaRTMPandHLS.swift" />
        <!-- <framework src="AVFoundation.framework" weak="true" />  -->
        
        <preference name="CAMERA_USAGE_DESCRIPTION" default="Access camera to stream live" />
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>CAMERA_USAGE_DESCRIPTION</string>
        </config-file>
        <preference name="MIC_USAGE_DESCRIPTION" default="Access microphone to stream live" />
        <config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
            <string>MIC_USAGE_DESCRIPTION</string>
        </config-file>
    </platform>
</plugin>